In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
# read dataframe
df = pd.read_excel('propzy_1000_1.xlsx')

In [3]:
#view dataframe
df.head()

,Unnamed: 0,Unnamed: 0.1,imageLink,totalPrice,squarePrice,mainTitle,mainAddress,bathNumber,bedNumber,mainSquare,mainOrientation,detailPage,mainID,page,lat,long
0,0,0,https://cdn.propzy.vn/listing/thumbnail/map/20...,38 tỷ,"213,5 triệu/m²",Nhà mặt tiền quận 5 gần Đại Học Y Dược,"Đ. Ký Hòa, P.11, Q.5",1,4,178.0,Nam,https://propzy.vn/mua/nha/hcm/quan-5/id34612,id34612,0,10.840366,106.758850
1,1,1,https://cdn.propzy.vn/listing/thumbnail/map/20...,"3,9 tỷ","59,1 triệu/m²",Bán căn hộ cao cấp 2PN tại chung cư SaiGon Mia...,"Đ. Số 9A, X.Bình Hưng, H.Bình Chánh",2,2,66.0,Đông,https://propzy.vn/mua/can-ho/hcm/huyen-binh-ch...,id380194,0,10.728720,106.671446
2,2,2,https://cdn.propzy.vn/listing/thumbnail/map/20...,"2,85 tỷ",31 triệu/m²,CC La Casa Bán căn hộ 2 phòng ngủ - đầy đủ tiệ...,"Đ. Hoàng Quốc Việt, P.Phú Thuận, Q.7",2,2,92.0,T.Nam,https://propzy.vn/mua/can-ho/hcm/quan-7/id376244,id376244,0,10.725911,106.736590
3,3,3,https://cdn.propzy.vn/listing/thumbnail/map/20...,"4,2 tỷ","36,9 triệu/m²",River Panorama Bán Căn Góc Dual- key 3PN 2WC -...,"Đ. Hoàng Quốc Việt, P.Phú Thuận, Q.7",2,3,113.9,Đ.Nam,https://propzy.vn/mua/can-ho/hcm/quan-7/id331419,id331419,0,10.725911,106.736590
4,4,4,https://cdn.propzy.vn/listing/thumbnail/map/20...,"3,88 tỷ","43,6 triệu/m²",Bán Chung Cư Căn Góc Viva Riverside P3 Q6 - Tầ...,"Đ. Võ Văn Kiệt, P.3, Q.6",2,3,89.0,T.Nam,https://propzy.vn/mua/can-ho/hcm/quan-6/id60811,id60811,0,10.742259,106.647729

In [6]:
# drop the column Unnamed: 0
df = df.drop(['Unnamed: 0.1'],axis = 1)

In [8]:
# drop page column
df = df.drop(['page'],axis = 1)

In [9]:
# inspect column type
df.dtypes

imageLink           object
totalPrice          object
squarePrice         object
mainTitle           object
mainAddress         object
bathNumber          object
bedNumber           object
mainSquare          object
mainOrientation     object
detailPage          object
mainID              object
lat                float64
long               float64
dtype: object

In [10]:
# inspect shame
df.shape

(1000, 13)

In [11]:
# rename columns
df.rename(columns = {'imageLink':'image_link',
                    'detailPage':'detail_link',
                     'mainID':'post_id',
                     'mainAddress': 'address',
                     'mainTitle':'title',
                     'mainOrientation':'orientation',
                     'totalPrice':'price',
                     'squarePrice':'sqm_price',
                     'mainSquare':'sqm',
                     'bathNumber':'bathrooms',
                     'bedNumber':'bedrooms'
                    },inplace = True)

In [13]:
df.columns

Index(['image_link', 'price', 'sqm_price', 'title', 'address', 'bathrooms',
       'bedrooms', 'sqm', 'orientation', 'detail_link', 'post_id', 'lat',
       'long'],
      dtype='object')

In [18]:
#check null value
for col in df.columns:
    print(str(col) + " is any Null: {}".format(pd.isna(df[col]).values.any()) )

image_link is any Null: False
price is any Null: False
sqm_price is any Null: False
title is any Null: False
address is any Null: False
bathrooms is any Null: False
bedrooms is any Null: False
sqm is any Null: False
orientation is any Null: False
detail_link is any Null: False
post_id is any Null: False
lat is any Null: False
long is any Null: False

In [19]:
# create a result of dataframe
result = pd.DataFrame([])

In [20]:
# add all object columns
result = pd.concat( [result,df[['image_link','title','address','orientation','detail_link','post_id']]], axis = 1)

In [27]:
# check columns of result
print("result: ")
print(result.dtypes)
print("dataframe: ")
print(df.dtypes)

result:
image_link     object
title          object
address        object
orientation    object
detail_link    object
post_id        object
dtype: object
dataframe:
price         object
sqm_price     object
bathrooms     object
bedrooms      object
sqm           object
lat          float64
long         float64
dtype: object

In [22]:
# drop all done columns
for col in result.columns:
    if col in df.columns:
        df = df.drop([col],axis = 1)

In [23]:
df.head()

     price       sqm_price bathrooms bedrooms    sqm        lat        long
0    38 tỷ  213,5 triệu/m²         1        4  178.0  10.840366  106.758850
1   3,9 tỷ   59,1 triệu/m²         2        2   66.0  10.728720  106.671446
2  2,85 tỷ     31 triệu/m²         2        2   92.0  10.725911  106.736590
3   4,2 tỷ   36,9 triệu/m²         2        3  113.9  10.725911  106.736590
4  3,88 tỷ   43,6 triệu/m²         2        3   89.0  10.742259  106.647729

In [62]:
#write function cell
def to_integer(val,banlist):
    if val not in banlist:
        val = int(val)
    else:
        val = 0
    return val

def to_float(val,banlist):
    if val not in banlist:
        val = float(val)
    else:
        val = 0
    return val

In [34]:
# inspect bathrooms and bedrooms 
df['bathrooms'].unique()

array(['1', '2', '3', '--', '8', '6', '4', '17', '5', '10', '9', '14',
       '7', '13', '26', '12', '16', '85', '35', '28', '11', '49', '58',
       '30', '18'], dtype=object)

In [35]:
df['bedrooms'].unique()

array(['4', '2', '3', '--', '1', '5', '7', '8', '6', '17', '9', '10',
       '14', '13', '24', '11', '16', '84', '35', '12', '34', '28', '49',
       '15', '58', '30', '18'], dtype=object)

In [36]:
# turn bedrooms and bathrooms into into integer
df['bathrooms'] = df['bathrooms'].apply(to_integer,args = (['--'],))
df['bedrooms'] = df['bedrooms'].apply(to_integer,args = (['--'],))

In [37]:
# check again
df.dtypes

price         object
sqm_price     object
bathrooms      int64
bedrooms       int64
sqm           object
lat          float64
long         float64
dtype: object

In [45]:
# take bathrooms and bedrooms 
result = pd.concat([result,df[['bathrooms','bedrooms']] ],axis = 1)

In [46]:
result.columns

Index(['image_link', 'title', 'address', 'orientation', 'detail_link',
       'post_id', 'bathrooms', 'bedrooms'],
      dtype='object')

In [47]:
# drop bathrooms and bedrooms 
for col in result.columns:
    if col in df.columns:
        df = df.drop([col],axis = 1)

In [48]:
df.head()

     price       sqm_price    sqm        lat        long
0    38 tỷ  213,5 triệu/m²  178.0  10.840366  106.758850
1   3,9 tỷ   59,1 triệu/m²   66.0  10.728720  106.671446
2  2,85 tỷ     31 triệu/m²   92.0  10.725911  106.736590
3   4,2 tỷ   36,9 triệu/m²  113.9  10.725911  106.736590
4  3,88 tỷ   43,6 triệu/m²   89.0  10.742259  106.647729

In [50]:
# take long and lat
result = pd.concat( [result,df[['lat','long']] ],axis = 1)

In [51]:
# drop lat and long out of the dataframe
for col in result.columns:
    if col in df.columns:
        df = df.drop([col],axis = 1)

In [52]:
df.head()

     price       sqm_price    sqm
0    38 tỷ  213,5 triệu/m²  178.0
1   3,9 tỷ   59,1 triệu/m²   66.0
2  2,85 tỷ     31 triệu/m²   92.0
3   4,2 tỷ   36,9 triệu/m²  113.9
4  3,88 tỷ   43,6 triệu/m²   89.0

In [60]:
# inspect sqm
df['sqm'].unique()

array(['178.0', '66.0', '92.0', '113.9', '89.0', '65.3', '89.9', '153.6',
       '65.0', '33.6', '51.0', '85.7', '109.0', '90.7', '69.0', '105.0',
       '78.6', '277.0', '83.6', '90.6', '96.5', '67.0', '70.0', '79.0',
       '52.1', '97.2', '71.6', '60.0', '83.0', '73.0', '75.0', '31.9',
       '114.2', '57.3', '35.4', '11.7', '111.7', '60.3', '61.0', '73.1',
       '96.1', '34.9', '80.6', '38.8', '37.1', '29.3', '45.7', '90.0',
       '50.0', '53.7', '40.9', '84.0', '82.8', '59.4', '64.1', '31.0',
       '55.0', '76.0', '56.5', '38.3', '27.0', '102.0', '90.5', '100.2',
       '51.7', '51.3', '49.1', '80.0', '57.9', '41.3', '146.5', '59.2',
       '105.2', '2,757.7', '147.5', '31.5', '278.2', '44.1', '159.0',
       '23.0', '67.7', '24.9', '55.6', '59.9', '33.4', '46.4', '119.1',
       '97.0', '160.0', '75.8', '21.5', '73.2', '69.6', '130.0', '129.7',
       '48.7', '32.2', '46.5', '64.2', '19.8', '143.0', '30.0', '32.0',
       '29.4', '96.2', '81.5', '64.8', '40.5', '56.7', '72.0', '75.4',
       '59.7', '276.5', '73.3', '69.5', '63.5', '38.5', '70.5', '94.3',
       '58.9', '82.5', '42.0', '49.7', '29.6', '53.6', '187.7', '87.4',
       '83.7', '14.4', '63.0', '52.0', '82.0', '39.1', '73.5', '44.3',
       '69.8', '46.7', '35.9', '49.4', '53.2', '51.6', '30.7', '29.8',
       '24.3', '62.7', '44.9', '121.9', '51.2', '37.3', '95.0', '106.0',
       '31.4', '191.0', '122.0', '70.6', '61.3', '45.1', '29.7', '46.8',
       '84.1', '96.0', '81.9', '83.2', '286.4', '21.8', '45.5', '39.0',
       '267.4', '120.5', '54.3', '29.1', '300.4', '82.6', '126.0', '93.5',
       '49.3', '135.0', '200.0', '92.4', '86.9', '71.8', '101.8', '40.8',
       '96.3', '66.2', '60.5', '4,371.0', '68.0', '37.4', '43.4', '76.5',
       '36.0', '76.2', '49.0', '28.8', '43.9', '91.2', '115.3', '77.6',
       '648.4', '51.5', '72.6', '81.0', '130.9', '66.8', '104.0', '20.3',
       '81.7', '94.0', '58.6', '36.7', '22.7', '22.0', '56.1', '61.2',
       '54.8', '61.9', '162.0', '128.4', '48.6', '36.1', '32.7', '45.9',
       '16.5', '101.9', '664.4', '65.2', '136.0', '33.5', '25.0', '69.3',
       '136.2', '23.9', '63.2', '100.0', '70.2', '96.7', '34.7', '53.4',
       '38.0', '97.3', '479.1', '67.4', '38.7', '46.9', '69.7', '141.3',
       '115.0', '143.8', '93.8', '40.3', '119.2', '133.6', '76.3',
       '215.1', '64.0', '89.6', '99.8', '113.0', '226.8', '113.8', '26.5',
       '93.7', '165.7', '127.0', '57.1', '30.6', '31.6', '60.8', '249.3',
       '26.4', '76.8', '23.4', '65.8', '86.7', '172.6', '128.9', '241.1',
       '50.1', '106.1', '32.4', '60.9', '77.8', '52.7', '44.6', '104.6',
       '35.0', '36.5', '85.5', '33.0', '51.1', '213.5', '79.6', '20.8',
       '28.0', '77.4', '13.7', '36.6', '284.0', '83.9', '93.0', '14.8',
       '46.0', '64.4', '88.0', '130.5', '43.1', '63.4', '184.0', '58.0',
       '1,500.0', '53.1', '54.5', '37.6', '72.2', '56.4', '89.4', '52.3',
       '85.2', '52.8', '66.9', '87.6', '65.6', '112.0', '41.0', '301.9',
       '22.8', '91.1', '250.0', '64.9', '47.6', '79.3', '55.4', '55.5',
       '60.4', '99.9', '22.5', '36.3', '25.9', '43.2', '50.4', '20.7',
       '107.0', '80.9', '601.8', '56.0', '69.4', '51.4', '34.5',
       '1,083.9', '37.2', '76.1', '54.6', '84.3', '57.0', '400.0', '45.3',
       '80.4', '87.0', '62.6', '80.8', '86.0', '35.6', '92.7', '107.5',
       '20.5', '48.0', '74.4', '12.6', '52.4', '103.5', '71.2', '118.4',
       '94.7', '189.7', '74.2', '115.5', '61.1', '67.9', '19.3', '15.2',
       '19.0', '39.5', '167.9', '65.4', '93.6', '285.2', '45.2', '114.4',
       '48.8', '72.4', '41.6', '63.1', '4,494.0', '179.9', '52.6', '35.2',
       '80.2', '61.4', '114.5', '59.1', '359.2', '42.5', '16.8', '80.1',
       '96.6', '79.5', '77.2', '10.8', '70.9', '59.8', '53.0', '43.3',
       '81.3', '142.3', '118.5', '81.4', '67.2', '71.4', '254.5', '77.0',
       '30.2', '66.4', '76.7', '71.9', '20.0', '34.0', '142.2', '64.6',
       '28.4', '35.3', '77.1', '112.5', '104.1', '99.4', '166.5', '79.2',
       '50.9', '940.0', '26.2', '64.3', '101.7', '433.6', '93.4', '44.4',
       '40.0', '279.8', '95.5', '96.9', '31.7', '46.1', '68.9', '31.3',
       '55.1', '44.0', '119.0', '49.5', '81.6', '47.0', '73.6', '48.3',
       '42.9', '36.8', '40.2', '82.4', '53.5', '55.8', '132.5', '73.9',
       '823.0', '69.2', '65.7', '38.6', '79.8', '98.1', '76.4', '71.7',
       '59.5', '109.9', '66.5', '106.6', '12.4', '33.8', '92.6', '99.0',
       '39.7', '25.1', '54.4', '75.1', '32.5', '148.2', '59.0', '225.6',
       '97.4', '128.7', '39.6', '75.6', '54.0', '68.2', '114.7', '74.0',
       '84.6', '61.6', '84.7', '81.1', '26.7', '15.5', '318.9', '37.0',
       '50.3', '28.1', '49.9', '56.2', '93.9', '603.1', '63.9', '145.1',
       '36.4', '25.8', '24.6', '67.1', '43.8', '30.4', '87.9', '311.8',
       '105.8', '136.8', '84.4', '24.0', '333.0', '43.5', '132.8', '25.5',
       '278.0', '166.0', '381.4', '67.5', '27.4', '48.5', '99.6', '132.9',
       '54.1', '150.0', '124.0', '45.8', '32.8', '52.5', '27.3', '45.6',
       '55.3', '62.1', '143.4', '11.2', '38.2', '93.2', '57.7', '79.1',
       '65.9', '83.4', '120.1', '42.3', '279.9', '70.3', '191.9', '190.0',
       '148.7', '1,212.5', '19.2', '49.8', '66.6', '14.0', '98.8', '61.8',
       '47.3', '75.3', '105.7', '57.5', '56.6', '17.3', '62.8', '78.5',
       '193.1', '15.9', '68.5', '62.3', '22.9', '27.1', '41.5', '88.4',
       '30.1', '24.1', '116.4', '27.9', '62.9', '75.7', '118.7', '167.0',
       '111.4', '104.5', '78.3', '102.8', '21.7', '28.6', '54.7', '129.9',
       '45.0', '76.9', '33.3', '43.0', '101.0', '43.6', '60.1', '86.6',
       '10.1', '89.5', '91.5', '55.7', '50.2', '34.6', '195.9', '47.4',
       '90.8', '18.9', '8.3', '96.4', '494.7', '72.3', '182.6', '101.2',
       '38.1', '13.0', '274.0', '55.2', '20.9', '139.1'], dtype=object)

In [65]:
# replace ",","" in sqm
df['sqm'] = df['sqm'].apply(lambda x:x.replace(",",""))

In [67]:
# turn sqm into float
df['sqm'] = df['sqm'].apply(to_float,args = (['None','--'],))

In [70]:
# check column type
df.dtypes

price         object
sqm_price     object
sqm          float64
dtype: object

In [71]:
# add sqm into result
result = pd.concat([result,df['sqm']],axis = 1)

In [73]:
for col in result.columns:
    if col in df.columns:
        df = df.drop([col],axis = 1)

In [74]:
df.head()

     price       sqm_price
0    38 tỷ  213,5 triệu/m²
1   3,9 tỷ   59,1 triệu/m²
2  2,85 tỷ     31 triệu/m²
3   4,2 tỷ   36,9 triệu/m²
4  3,88 tỷ   43,6 triệu/m²

In [77]:
# take care price
df['price'].unique

<bound method Series.unique of 0        38 tỷ
1       3,9 tỷ
2      2,85 tỷ
3       4,2 tỷ
4      3,88 tỷ
        ...
995     2,4 tỷ
996     3,3 tỷ
997       4 tỷ
998     5,8 tỷ
999    10,5 tỷ
Name: price, Length: 1000, dtype: object>

In [79]:
# replace space and ty
df['price'] = df['price'].apply(lambda x : x.replace('tỷ',""))

In [81]:
# replace ,
df['price'] = df['price'].apply(lambda x: x.replace(",","."))

In [83]:
# turn price into float
df['price'] = df['price'].apply(to_float,args = (['--'],))

ValueError: could not convert string to float: '900 triệu'

In [84]:
# handle with special case
df['price'] =df['price'].apply(lambda x: x.replace('900 triệu','0.9'))

In [85]:
df['price'] = df['price'].apply(to_float,args = (['--'],))

In [87]:
result = pd.concat([result,df['price']],axis = 1)

In [89]:
for col in result.columns:
    if col in df.columns:
        df =df.drop([col],axis = 1)

In [95]:
result['price'] = result['price'] * 1000000000

In [91]:
# handle the sqm_price
df['sqm_price'] = df['sqm_price'].apply(lambda x: x.replace('triệu/m²',''))

In [93]:
df['sqm_price'] = df['sqm_price'].apply(lambda x: x.replace(',','.'))

In [96]:
df['sqm_price'] = df['sqm_price'].apply(to_float,args = (['--'],))

In [98]:
result = pd.concat([result,df['sqm_price']],axis =1)

In [99]:
for col in result.columns:
    if col in df.columns:
        df =df.drop([col],axis = 1)

In [103]:
result['sqm_price'] = result['sqm_price']*1000000

In [106]:
#add status columns
result['status'] = 'for sale'

In [107]:
result.to_excel('propzy_1000_2.xlsx')